@inherits LayoutComponentBase
@inject HeaderDataService headerDataService;

<PageTitle>@headerDataService.Title</PageTitle>

<div class="flex">
    <SideBar />

    <main class="w-full">
        <Header/>
        <div class="p-4">
            @Body
        </div>
        
    </main>
</div>

@* 
    TODO : Modal functionality
    <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> 
*@
